[Unit]
Description=Running snowflake proxy with logging into database
After=network.target

[Service]
ExecStart=INSTALLATION_PATH/run.sh
User=USER
Group=GROUP

[Install]
WantedBy=default.target

